:root {
  --background: linear-gradient(135deg, #000000f3 0%, #0a0808af 100%);
  --color-primary: #e62424;
  --color-secondary: #764ba298;
  --color-padding: 20px 40px;
}

html,
body {
  margin: 0;
  background: white;
  color: #000;
  font-family: "Roboto Serif", sans-serif;
  box-sizing: border-box;
}
/****   HEADER   ****/

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 0;
  max-width: 1200px;
}

.content_ani {
  width: 100%;
  max-width: 120%;
  height: 100px;
  position: fixed;
  /*Nuevo*/
  top: 0;
  right: 0;
  z-index: 100;
  transition: all 300ms;
}
/*ANIMATION_JAVASCRIPT*/
.nav_mod {
  height: 80px;
  box-shadow: 1px 1px 80px 40px #00000010;
  background: #010100;
  opacity: 0.9;
}

.nav_mod_int {
  height: 80px;
  box-shadow: 1px 1px 80px 40px #00000010;
  background: #010100;
  opacity: 1;
}
.color_letter {
  transition: all 300ms;
}
.nav_h1 {
  color: #db0334;
}
/***********************/

.container_header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo {
  color: #fff;
}

.subtitle {
  color: var(--color-primary);
  font-size: 2.5rem;
  margin-bottom: 35px;
}

.hero {
  height: 100vh;
  background-image: var(--background), url("./assets/img/prueba1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.hero .container_header {
  padding: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  align-items: center;
  font-size: 700;
}

.nav li {
  list-style: none;
}

.nav_items {
  color: #fff;
  margin-right: 20px;
  padding: 10px 15px;
  font-weight: inherit;
}

.items--cta {
  border: 1px solid #fff;
}

.hero_container {
  display: flex;
  height: calc(100vh - 70px);
  align-items: center;
  color: #fff;
}
.container_grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  font-weight: 800;
}

.hero_subtitle {
  text-align: center;
  letter-spacing: 5px;
}
.hero_subtitle_2 {
  font-size: 3rem;
  letter-spacing: 5px;
}
.hero_subtitle_3 {
  font-size: 1.8rem;
  text-align: center;
}
.hero_subtitle_4 {
  font-style: italic;
  text-align: end;
}

.hero__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 21%;
}

/********MAIN************/

.main_div_section {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 100px;
  grid-template-areas:
    "vision vision"
    "mision mision";
}
.main_div_section_child {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin-bottom: 100px;
  grid-template-areas: "vision vision";
}
.section_menu {
  grid-column: span 2;
}

.item {
  border-radius: 8px;
}

.main_div_section p {
  font-size: 1.1rem;
  text-align: justify;
  line-height: 2rem;
}
.main_section_div_child p {
  font-size: 1.1rem;
  text-align: justify;
  line-height: 2rem;
}

.about__img img {
  border-radius: 8px;
}
